 img {
width:100%;
height: 100%;
}
.nopadding {
padding: 0 !important;
margin: 0 !important;
}

.city_name{
    font-size: 30px;
    margin-left: 9%;
    margin-top: 2%;
    color: black;
    height:10%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: initial;
}
.wiki_name{
    font-size: 30px;
    margin-left: 2%;
    margin-top: 2%;
    color: black;
    height:10%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: initial;
}

.location{
    margin-left: 2%;
    font-size: 30px;
}

hr {
    margin-top: 0;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.places{
    height:100%;
}

.place_name{
    font-size: 150%;
    color: black;
    margin-left: 2%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.place_details{
    margin-top: 0px;
    padding: 0px;
    margin-left: 2%;
    font-size: 120%;
}
.image_back{
    margin-top: 5%;
    margin-right: -1px;
    width: inherit;
}


.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    overflow: hidden;
}

.image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
     overflow: hidden;
}

.named p{
    font-size: 150%;
    color: black;
    height:30%;
}



#test {
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background: white;
    transition: 1s;
    overflow:scroll;
    z-index: 100;
}
#test_rest {
    z-index: 100;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background: white;
    transition: 1s;
    overflow:scroll;
}
#test_hot {
    z-index: 100;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background: white;
    transition: 1s;
    overflow:scroll;
}

#test_wiki {
    z-index: 100;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 110%;
    background: white;
    transition: 1s;
    overflow:scroll;
}

.day_tag{
    font-weight: bold;
    font-size: 30px;
    color:black;
    padding:0;
    margin-bottom: 0;
}

.data{
    font-size: 100%;
    padding: 0;
}


.list{
    font-size: 20px;
}
.tag{
    margin-left: 2%;
    font-size: 120%;
    color:black;
}
